.App{
    background-color: rgb(44, 13, 73);
    color: #f8f6f4;
    min-height: 900px;
    height: 100vh;

}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.books__container{
    width: 900px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    margin-top: 30px;
}

h1{
    text-align: center;
}